<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if (typeof title !== 'undefined' && typeof titleTemplate !==
      'undefined') { %> <%= titleTemplate.replace('%s', title) %> <% } else if
      (typeof title !== 'undefined') { %> <%= title %> <% } else { %>
      LedgerLight <% } %>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/globals.css" />
    <link rel="stylesheet" href="/styles/partials.css" />
  </head>
  <body>
    <%- include('partials/_navbar') %>
    <main id="maincontent" class="container">
      <h2>Welcome to the LedgerLight App</h2>
      <p>Your one-stop solution for all your personal finance needs.</p>
      <p><a class="btn" href="/transactions">View Transactions</a></p>
    </main>
    <script src="/js/main.js" defer></script>
  </body>
</html>
